{#
{% set url = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{{ url }}
#}

<div class="container">
    <div class="row">
        <div class="col-8">
            Pag d'accueil à remplir
        </div>
    </div>
</div>